  p{
                font-family: roboto,Arial;
                margin-top: 0px;
                margin-bottom: 0px;

            }
            body{
              /* This style below will be inherited */
              margin: 0;
              padding-top:80px;
              padding-left: 96px;
              padding-right:24px;
              height:1000px;
              background-color: rgb(247, 246, 246);
          
            }                    