.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    top:0px;
    left:0;
    right:0;
    z-index:5;

    background-color: white;
    border-bottom-width:1px;
    border-bottom-style:solid ;
    border-bottom-color:rgb(240,240,240);
}
.left-section{
    display: flex;
    align-items: center;

}
.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo{
height: 20px;
}


.middle-section{
    flex:1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display:flex;
    align-items: center;
}
.search-bar{
    flex:1;
    height: 37px;
    padding-left: 10px;
    font-size:16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    width:0;
}

.search-bar::placeholder{
    font-family: roboto,Arial;
    font-size: 16px;

}
.search{
height: 40px;
width: 66px;
background-color: rgb(240,240,240);
border-width: 1px;
border-style: solid;
border-color:rgb(192, 192, 192);
margin-left: -1px;
margin-right: 10px;
}
.search,
.voice-search,
.upload-icon-container,
.youtube-apps-container,
.notification-tooltip{
    display:flex;
    position: relative;
    justify-content: center;
    align-items:center;
}
.search .tooltip,
.voice-search .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-container .tooltip,
.notification-tooltip .tooltip{
    position:absolute;
    background-color: gray;
    color:white;
    padding-top:4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left:8px;
    font-size:12px;
    border-radius: 2px;
    bottom:-40px;
    opacity:0;
    transform: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    font-family: roboto,Arial;

}
.search:hover .tooltip,
.voice-search:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notification-tooltip:hover .tooltip
{
    opacity: 1;
    
    
}
.search-icon{
  height:25px;
  margin-top:4px;
}
.voice-search{
height: 40px;
width: 40px;
border-radius: 20px;
border: none;
background-color: rgb(245,245,245);
}
.voice-search-icon{
    height:24px;

    
}


.right-section{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink:0 ;

}
.upload {
    height: 24px;
}
.youtube-apps{
    height: 24px;
}
.notifications{
    height: 24px;
    
}
.notification-icon-container{
    position: relative;
}
.notification-count{
    position:absolute;
    top:-2px;
    right:-5px;
    background-color: rgb(214, 10, 10);
    color:white;
    font-size:11px;
    font-family:roboto,Arial;
    border-radius:10px;
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom: 2px;
   

}
.channel-profile{
    height: 32px;
    border-radius:16px;

}