.sidebar{
    position: fixed;
    left:0;
    top:55px;
    bottom:0px;
    background-color: white;
    width:72px;
    z-index: 200;
    padding-top:5px;

    
}
.sidebar-link{
    height: 76px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar-link:hover{
    background-color:rgb(237, 236, 236);
    cursor: pointer;
}
.sidebar-link img{
    height:24px;

}
.sidebar-link div{
 font-family: roboto,Arial;
 font-size:10px;
 margin-top: 5px;

}

